<%= form_for(@perfume, class: 'form-horizontal', role: 'form') do |f| %>
    <div class="perfume-container">
        <!-- 質問1: 視覚 -->
        <div class="col-12">
            <p>Q1. 視覚</p>
        </div>
        <div class="col-6">
            <%= f.check_box :question1, { multiple: true, id: "custom_id1", value: "1" } %>
            <label for="custom_id1">メモをたくさん取る</label>
            <%= f.check_box :question1, { multiple: true, id: "custom_id2", value: "2" } %>
            <label for="custom_id2">メモは取るが、メモを確認している様子はない</label>
            <%= f.check_box :question1, { multiple: true, id: "custom_id3", value: "3" } %>
            <label for="custom_id3">学習者が話すとき、自分を見て話す</label>
            <%= f.check_box :question1, { multiple: true, id: "custom_id4", value: "4" } %>
            <label for="custom_id4">何かバッグにノイズがあると集中していない様子である</label>
        </div>
        
        <!-- 質問2: 聴覚 -->
        <div class="col-12">
            <p>Q2. 聴覚</p>
        </div>
        <div class="col-6">
            <%= f.check_box :question2, { multiple: true, id: "custom_id5", value: "1" } %>
            <label for="custom_id5">メモをあまりとらない</label>
            <%= f.check_box :question2, { multiple: true, id: "custom_id6", value: "2" } %>
            <label for="custom_id6">ものを書くときに独り言を言っている</label>
            <%= f.check_box :question2, { multiple: true, id: "custom_id7", value: "3" } %>
            <label for="custom_id7">指示を与えたときその指示を復唱する</label>
            <%= f.check_box :question2, { multiple: true, id: "custom_id8", value: "4" } %>
            <label for="custom_id8">サラっといったことをよく覚えている</label>
        </div>
        
        <!-- 質問3: 運動感覚 -->
        <div class="col-12">
            <p>Q3. 運動感覚</p>
        </div>
        <div class="col-6">
            <%= f.check_box :question3, { multiple: true, id: "custom_id9", value: "1" } %>
            <label for="custom_id9">説明をすると見本を実際見たいという</label>
            <%= f.check_box :question3, { multiple: true, id: "custom_id10", value: "2" } %>
            <label for="custom_id10">音楽など音があっても集中している様子である</label>
            <%= f.check_box :question3, { multiple: true, id: "custom_id11", value: "3" } %>
            <label for="custom_id11">自分のやり方でやろうとする</label>
            <%= f.check_box :question3, { multiple: true, id: "custom_id12", value: "4" } %>
            <label for="custom_id12">長時間座席についていると落ち着かない様子で、立ち上がる回数が多い</label>
        </div>
    </div>
    <div class="sindanbotan">
        <%= f.submit " 結果 " %>
    </div>
<% end %>
